h4 {
    color: brown;
}

button {
    color: red;
}

.ad_cart {
    color: antiquewhite;
}

#btn {
    color: azure;
}

* {
    color: chartreuse;
}

/* ? Border */

.bor {
    border-style: solid;
    border-width: 10px;
    border-color: blue;
    border-radius: 100px;

    border: 10px solid rgb(0,217,255)
}

button {
    border: none;
    border-bottom: 2px solid red;
    border-left: 2px dashed blue;
    border-top: 2px dotted green;
}