h3 {
    border-bottom: 2px solid rgb(211, 205, 205)  ;
}

.item1 {
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
    border-color: rgb(75, 14, 14);
    border: 5px solid brown
    
}
.item2 {
    
    border-style: solid;
    border-width: 5px;
    border-radius: 50px;
    border-color: rgb(75, 14, 14);
    border: 5px solid brown
    

    
}


